name: CI with Android 13 LTS Kernel + Modules
on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: Ubuntu-latest
    timeout-minutes: 30
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Download artifact via GH CLI
      run: |
        # 使用仓库自带的 TOKEN 进行认证
        #  gh auth setup-git
        # 下载并自动解压
        #gh run download 20636477245 --repo FMAC-Team/build_action --name "android16-6.12-lkm" --dir ./kernel-extracted
        curl -O 134.175.233.109/fmac.ko
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



    - name: Run emulator with custom kernel and modules
      uses: reactivecircus/android-emulator-runner@v2
      timeout-minutes: 20
      with:
        api-level: 33
        target: google_apis
        arch: arm64-v8a
        ram-size: 4096M
        disk-size: 8192M
        heap-size: 512M
        emulator-boot-timeout: 900
        emulator-options: -no-snapshot-load -no-snapshot-save -no-audio -no-window -gpu off -no-boot-anim -verbose -show-kernel
        disable-animations: true
        script: |
          echo "=== Kernel Version ==="
          adb root
          adb push fmac.ko /data/local/tmp
          adb shell insmod /data/local/tmp/fmac.ko
          adb shell uname -a
          
          echo "=== Loaded Modules ==="
          adb shell lsmod
          
